# Library

In [1]:
import numpy as np
import pandas as pd
from sklearn import linear_model

# Dataset

In [2]:
df = pd.read_csv('car_risk_multiple_value.csv')

In [3]:
df

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       17        13.0    20
2    165       12         4.0    93
3    110       20         NaN    60
4    140        5         3.0    82
5    115        2         8.0    10

# See Every Column

In [5]:
#df.speed
#df.car_age
#df.experience
#df.risk

# Check Null Value

In [6]:
df.isnull().sum()

speed         0
car_age       0
experience    1
risk          0
dtype: int64

# Calculate Mean/ Median for Null Value

In [16]:
#Mean
exp_fit_mean = df.experience.mean()

In [18]:
exp_fit_mean

6.333333333333333

In [19]:
#Median
exp_fit = df.experience.median()

In [20]:
exp_fit

5.0

# Fit Null Value Into Dataset

In [21]:
df.experience = df.experience.fillna(exp_fit)

In [22]:
df

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       17        13.0    20
2    165       12         4.0    93
3    110       20         5.0    60
4    140        5         3.0    82
5    115        2         8.0    10

In [23]:
df.experience

0     5.0
1    13.0
2     4.0
3     5.0
4     3.0
5     8.0
Name: experience, dtype: float64

# Create Object

In [24]:
reg = linear_model.LinearRegression()

# Train Data

In [25]:
reg.fit(df[['speed', 'car_age', 'experience']], df.risk)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

# Predict Result

In [26]:
reg.predict([[160, 10, 5]])

array([71.37146872])

# Check by Equation

In [27]:
#Coefficient
reg.coef_

array([ 0.33059217,  1.61053246, -6.20772074])

In [28]:
#Intercept
reg.intercept_

33.410000910435905

In [29]:
0.33059217 * 160 + 1.61053246 * 10 + -6.20772074 * 5 + 33.410000910435905

71.3714690104359