In [13]:
import pandas as pd

# create a simple dataset of people
data = {'Name': ["জসিম", "করিম", "মিতা", "অন্তরা"],
        'Location' : ["রাজশাহী", "ঢাকা", "রংপুর", "কুষ্টিয়া"],
        'Age' : [24, 13, 53, 33]
       }

frame = pd.DataFrame(data)
# ডেটাফ্রেম দেখলেই আপনার মন ভালো হয়ে যাবে, একদম এক্সেল 
display(frame)

   Age  Location    Name
0   24   রাজশাহী    জসিম
1   13      ঢাকা    করিম
2   53     রংপুর    মিতা
3   33  কুষ্টিয়া  অন্তরা

কোয়েরি চালাই একটু

In [14]:
display(frame[frame.Age > 30])

   Age  Location    Name
2   53     রংপুর    মিতা
3   33  কুষ্টিয়া  অন্তরা